/* Light Theme */
:root {
  --color-white: #ffffff;
  --color-black: #161718;
  --color-dynamic-white: #fff;
  --color-dynamic-black: #161718;
  --color-dynamic-gray: #898989;
  .dark {
    --color-dynamic-white: #161718;
    --color-dynamic-black: #fff;
    --color-dynamic-gray: #888889;
  }
}
/* Dark Theme */